In [ ]:
#Importa as bibliotecas edar o alias
import pandas as pd #importa o pandas com o alias as
import matplotlib.pyplot as plt #importa o maltplot com o alias plt
plt.style.use('seaborn') #uso o estilo seaborn no malplot

In [ ]:
#Criando nosso Dataframe
df = pd.read_excel("/content/drive/MyDrive/Datasets/AdventureWorks.xlsx")
#Este comando ira formatar a visualiçõa dos resultados
pd.options.display.float_format = '{:20,.2f}'.format

In [ ]:
#Upload do arquivo
#from google.colab import files
#arq = files.upload('/content/drive/MyDrive/Datasets/AdventureWorks.xlsx')

In [ ]:
#Visualizando as 5 primeiras linhas. Sem parametro exibe as 5 primiras linhas
df.head()

In [ ]:
#Visualiza o numero de linha e colunas da Tabela
df.shape

In [ ]:
#Para verificar o Tipo de Dados digite
df.dtypes

In [ ]:
#Para saber a receita total digito
total = df['Valor Venda'].sum() #Alias['Nome da coluna].função sum()
print('Total: R$ {:.2f}'.format(total))

In [ ]:
#Qual o custo Total?
df['custo'] = df['Custo Unitário'].mul(df['Quantidade']) #Cria a coluna custo na tabela
custoTotal = df['custo'].sum()
print('Custo total: R$ {:.2f}'.format(custoTotal))

In [ ]:
df.head()

In [ ]:
#Agora que temos a receita e o custo podemos achar o lucro
df['Lucro'] = df['Valor Venda'] - df['custo']
total_lucro = round(df['Lucro'].sum(),2)
print(f'O Lucro é de: {total_lucro}')

In [ ]:
#Vamos criar uma coluna com o total de dias para enviar o Produto
df['Tempo_envio'] = df['Data Envio'] - df['Data Venda'] # Crio a coluna tempo de envio que é igual a Data de Envio - Data Venda

Criando media do tempo de envio, antes devemos tranformar a coluna Tempo_envio em numerica.

In [ ]:
#Extraindo apenas os dias
df['Tempo_envio'] = (df['Data Envio'] - df['Data Venda']).dt.days
#Media do tempo de envio filtrando por Marca
df.groupby('Marca')['Tempo_envio'].mean()

In [ ]:
#VErificando se temos dados faltantes na Tabelas
df.isnull().sum()

**Lucro por Ano e Por Marca**

In [ ]:
#Agrupo por ano e Marca
df.groupby([df['Data Venda'].dt.year, 'Marca'])['Lucro'].sum()

In [ ]:
#Resetando o Index (Cria uma nova tabela)
lucro_ano = df.groupby([df['Data Venda'].dt.year, 'Marca'])['Lucro'].sum().reset_index()
lucro_ano

In [ ]:
#Qual o total de produtos?
df.groupby('Produto')['Quantidade'].sum().sort_values(ascending=False)

In [ ]:
#GRáfico Total de Produtos Vendidos
df.groupby('Produto')['Quantidade'].sum().sort_values(ascending=True).plot.barh(title= 'Titulo do Grafico Aqui!')
plt.xlabel('Total')
plt.ylabel('Produto')

In [ ]:
df.groupby(df['Data Venda'].dt.year)['Lucro'].sum().plot.bar('O nome aqui é Lucro x Ano')
plt.xlabel('Ano')
plt.ylabel('Receita')

In [ ]:
df.groupby(df['Data Venda'].dt.year)['Lucro'].sum()

Data Venda
2008           1,920,077.71
2009           1,577,745.38
Name: Lucro, dtype: float64

In [ ]:
df_2009 = df[df['Data Venda'].dt.year == 2009]

In [ ]:
df_2009.head()

In [ ]:
#Grafico de  linha por Lucro e Mes
df_2009.groupby(df_2009['Data Venda'].dt.month)['Lucro'].sum().plot(title='Coloca aqui o Titulo do Grafico')
plt.xlabel('Mês')
plt.ylabel('Lucro')

In [ ]:
#Lucro por Marcas
df_2009.groupby('Marca')['Lucro'].sum().plot.bar(title='Aqui é o titulo')
plt.xlabel('Marca')
plt.ylabel('Lucro')
plt.xticks(rotation='horizontal');

In [ ]:
#Lucro por Classes
df_2009.groupby('Classe')['Lucro'].sum().plot.bar(title='Aqui é o titulo')
plt.xlabel('Classe')
plt.ylabel('Lucro')
plt.xticks(rotation='horizontal');

In [ ]:
#Analise estatistica do tempo de envio
df['Tempo_envio'].describe()

In [ ]:
#Grafico do Boxplot (Ajuda a encontrar outlayer)
plt.boxplot(df['Tempo_envio']);

In [ ]:
#Histograma
plt.hist(df['Tempo_envio']);

In [ ]:
#Tempo minimo
df['Tempo_envio'].min()

In [ ]:
#Tempo Máximo de Envio
df['Tempo_envio'].max()

In [ ]:
#Identificando o Outlier
df[df['Tempo_envio'] == 20]

In [ ]:
#Salvando com CSV (Salvando a Análise)
df.to_csv('Novo.csv', index=False)